
main {
  flex: 1;
  margin-top: 5.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-presentation {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 1.5rem 0;
}

.social-btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 20rem;
  justify-content: space-evenly;
  align-items: center;
}

.social-btns li {
  list-style: none;
  font-size: 2rem;
  padding: .2rem;
  margin: 0 .2rem; 
  color: var(--honeysuckle);
  transition: 150ms all ease-in;
}

.social-btns li a {
  color: var(--honeysuckle);
  transition: 150ms all ease-in;
}

.social-btns li:hover {
  transform: scale(1.7);
}

.email-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.email-form {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem 2rem;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.email-msg {
  font-size: 2rem;
  padding: 2rem;
}

form input, form textarea {
  cursor: pointer;
  border: none;
  border-left: 1px solid var(--honeysuckle);
  border-right: 1px solid var(--honeysuckle);
 font-family: inherit;
 padding: 1rem;
 width: 100%;
 max-width: 100%;
 resize: none;
 background-color: rgb(250, 250, 250);
}

form input:focus, form textarea:focus {
  outline: none;
  border: 1px solid var(--honeysuckle);
}

.submit-button {
  font-family: 'Dancing Script';
  font-size: 1.4rem;
  text-decoration: none;
  border: none;
  background-color: var(--honeysuckle);
  color: var(--white);
  transition: 150ms all ease-in;
}

.submit-button:hover {
  background-color: var(--cool-gray);
}

@media(max-width:652px) {
  main {
    margin-top: 7rem;
  }
}
